* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  text-align: center;
  margin: auto;
}

.pokedex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.poke-card {
  width: 22%;
  margin: 1rem;
  background-color: gainsboro;
  border-radius: 1rem;
}
.poke-card p {
  font-size: 1.3rem;
}
